.lead__title {
  width: 720px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: calc(100vw - 48px);
    font-size: min(96px, 13vw);
    line-height: min(100px, 1.05em);
  }
}

@media screen and (max-width: 640px) {
  .lead__title {
    font-size: min(96px, 12vw);
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
