.place__link {
  font-size: 18px;
  line-height: 22px;
/* identical to box height, or 122% */
  opacity: 1;
  text-decoration-line: underline;
  margin: 0;
  color: #FFFFFF;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: linear;
}

.place__link:hover {
  opacity: .8;
}


