.footer__copiright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  /* text-align: right; */
}

@media screen and (max-width: 700px) {
  .footer__copiright {
    font-size: 14px;
    line-height: 14px;
  }

}
